*.exe
*.dll
*.so
*.dylib
*.test
*.out
*.log
*.tar.gz
*.zip
*.rar
*.gz
*.tar
*.tgz
.idea/
.vscode/
*.iml
*.DS_Store
vendor/
bin/
*.test
*.out
*.log
*.tar.gz
*.zip
*.rar
*.gz
*.tar
*.tgz
.idea/
.vscode/
*.iml
*.DS_Store
vendor/
bin/
